.section {
	padding: 32px 0;
}

.section h2 {
	margin-bottom: 16px;
}

.login {
	width: 60%;
	margin-bottom: 32px;
}

.username {
	margin: 16px 0;
}

@media screen and (max-width: 421px) {
	.login {
		width: 100%;
	}
}